<div class="home_image container">
    <div><p>Сайт-визитка<span>Быстрый старт бизнеса в Интернете</span><span>от <span>4 995</span> руб.</span>
        </p><a href="#forma_consult" title="Сайт-визитка" class="btn-podrobnee fancybox" bs-type="getConsult" bs-val="vizitka">Получить консультацию</a></div>
    <div><p>Landing Page<span>Поток клиентов гарантирован</span><span>от <span>9 900</span> руб.</span></p><a
                href="#forma_consult" title="Landing Page" class="btn-podrobnee fancybox" bs-type="getConsult" bs-val="landing">Получить консультацию</a></div>
    <div><p>Корпоративный сайт<span>Представьте свою компанию всему миру</span><span>от <span>21 910</span> руб.</span>
        </p><a href="#forma_consult" title="Корпоративный сайт" class="btn-podrobnee fancybox" bs-type="getConsult" bs-val="corp">Получить консультацию</a></div>
    <div><p>Интернет-магазин<span>Онлайн продажи доступны</span><span>от <span>9 995</span> руб.</span></p><a
                href="#forma_consult" title="Интернет-магазин" class="btn-podrobnee fancybox" bs-type="getConsult" bs-val="shop">Получить консультацию</a></div>
</div>