<!--~~~~~~~~~~~~~~~~~domain~~~~~~~~~~~~~~~~~-->
<div class="domen">
    <h2>У каждого сайта должно быть имя!</h2>

    <p class="h2-dop">Придумайте его прямо сейчас и проверьте на занятость!</p>

    <div class="korpus">
        <div class="container">
            <div id="whois-domain-form">
                <input type="text" placeholder="КОЛОР-НЬЮ.РФ" id="domain-input-whois" required>

                <p class="result"></p>
                <input type="button" class="submit" name="submit" bs-action="whois" value="Проверить" data-loading-text="Проверяю">

                <div class="svoboden block-hidden-animate">
                    Это имя свободно! Зарезервируйте его, пока не занял кто-то другой!
                    <br/>Получите это имя бесплатно при заказе сайта!
                    {#<a href="#" title="Заказать доменное имя" class="btn-podrobnee">Заказать</a>#}
                </div>
                <div class="zanyat block-hidden-animate">
                    Это имя занято! Попробуйте придумать другое доменное имя.
                </div>

                <div class="error block-hidden-animate">
                    Введенное Вами имя не может быть доменом. Проверьте, не допустили ли Вы ошибку.
                </div>
            </div>
        </div>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~/domain~~~~~~~~~~~~~~~~~-->