<!--~~~~~~~~~~~~~~~~~banner~~~~~~~~~~~~~~~~~-->
<div class="banner banner_home banner_big"
     style="background: url({{ jpegoptim('assets/img/banners/home_colornew.jpg') }}) top no-repeat;">
    <div class="container">
        <div class="banner_content">
            <h2>Предложение для клиентов</h2>

            <p>Специальное предложение для всех клиентов Интернет-студии «ColorNew»! </p>

            <p>Вы выбираете тип сайта (визитка, корпоративный, интернет-магазин)<br/>
                и заказываете его продвижение;</p>

            <p>В зависимости от выбранного типа сайта, Вам предоставляется<br/>
                скидка на его разработку (номинал скидки указан ниже);</p>

            <p>Вы получаете новых клиентов и «отбиваете» стоимость сайта;</p>
            <a href="" class="btn-podrobnee">Узнать подробнее</a>
        </div>
    </div>
</div>
<div class="banner banner_home banner_small">
    <div class="container">
        <div class="banner_content">
            <h2>Предложение для клиентов</h2>

            <p>Специальное предложение для всех клиентов Интернет-студии «ColorNew»! </p>

            <p>Вы выбираете тип сайта (визитка, корпоративный, интернет-магазин)<br/>
                и заказываете его продвижение;</p>

            <p>В зависимости от выбранного типа сайта, Вам предоставляется<br/>
                скидка на его разработку (номинал скидки указан ниже);</p>

            <p>Вы получаете новых клиентов и «отбиваете» стоимость сайта;</p>
            <a href="" class="btn-podrobnee">Узнать подробнее</a>
        </div>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~/banner~~~~~~~~~~~~~~~~~-->