<div style="display:none;" id="forma_zvonok" class="forma modal_zvonok">
    <form bs-action="{{ path('feed_call_back') }}" bs-type="feedback">
        <p>Заполните форму и мы перезвоним вам!</p>
        <input type="text" placeholder="Ваше имя" name="name" required>
        <input type="tel" class="phone_input" placeholder="Телефон" name="tel" required>
        <input type="email" placeholder="Электронная почта" name="email">
        <textarea name="msg" id="" cols="30" rows="8" placeholder="Сообщение"></textarea>
        <input type="hidden" class="hide" name="ref" bs-id="form-reference" />
        <a href="" class="politica">Политика конфиденциальности</a>
        <input type="submit" data-loading-text="Отправляется запрос" class="btn-dashed" value="Отправить">
    </form>
</div>